
 .notes {
   background-color: red;
 }

 .notepad textarea {
   background-color: rgb(255, 239, 96);
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 1px 3px 3px #000;
   width: 100%;
   resize: none;
   margin: 5px;
   font-size: 14px;
   border: none;
   font-weight: 300;
 }

 .notepad textarea:focus {
  outline: 0;
}

.notepad button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  border-radius: 5px;
}

.notepad button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}

 .menu {
   background-color: skyblue;
 }

 body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: flex;
}

.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul.theList {
  padding: 0;
}



